.header{
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: teal;
    h1{
        font-size: 32px;
        color: #d4fff0;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }
    .nav{
        display: flex;
        a{
            display: block;
            text-decoration: none;
            font-size: 20px;
            margin: 0 10px;
        }
    }
}